{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h2>Liste des contacts</h2>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>company</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for c in contacts %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.firstname }}</td>
                <td>{{ c.lastname }}</td>
                <td>{{ c.company ? c.company.name : '' }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': c.id}) }}">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
