{% extends 'base.html.twig' %}

{% block title %}Afficher un contact{% endblock %}

{% block body %}
    <h2>Afficher un contact</h2>
    <h3>id</h3>
    <p>{{ contact.id }}</p>
    <h3>firstname</h3>
    <p>{{ contact.firstname }}</p>
    <h3>lastname</h3>
    <p>{{ contact.lastname }}</p>
    {% if contact.company %}
        <h3>company</h3>
        <p>{{ contact.company.name }}</p>
    {% endif %}
    {% if contact.tags | length > 0 %}
        <h3>tags</h3>
        <p>{{ contact.tags | join(', ') }}</p>
    {% endif %}
    <a href="{{ path('app_contact_delete', {'id': contact.id}) }}">Supprimer</a>
{% endblock %}
