{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <p>Hello {{ name | upper }}</p>
    <p>Date : {{ date() | date('H:i:s', "Europe/Paris") }}</p>
    <p>
        <a href="{{ path('app_contact_show', {id: 123}) }}">Contact 123</a>
    </p>
    <div>
        <img src="{{ asset('img/logo.png') }}" />
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('demo') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('demo') }}
{% endblock %}