{% extends 'base.html.twig' %}

{% block title %}Créer une société{% endblock %}

{% block body %}
{#    {{ form(companyForm) }}#}

    {{ form_start(companyForm, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(companyForm.name) }}
    {{ form_row(companyForm.city) }}
    <button>Submit</button>
    {{ form_end(companyForm) }}
{% endblock %}
